@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
body {
	min-width: 208px;
}
.btn {
	background-color: #e74c3c;
	border: none;
	height: 35px;
	padding: 5px 15px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	margin-top: 10px;
	margin-right: 10px;
}
.btn:hover {
	cursor: pointer;
	background-color: #e54e53;
}
.btn:focus {
	outline: 0;
}
.form-control {
	width: 175px;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 300;
	border: 1px solid black;
}
.form-control:focus {
	outline: 0;
	border-color: #e74c3c;
}
.form-control::-webkit-input-placeholder {
	text-transform: uppercase;
}
.info {
	font-size: 16px;
	font-weight: 300;
	color: white;
}
.container {
	margin: 0 auto;
	margin-top: 50px;
	width: 500px;
	border: thin solid #c0392b;
	background-color: #484a4c;
	font-size: 16px;
	font-weight: 300;
	padding: 10px 15px;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
a { color: #e74c3c; }
